__pycache__/
.ipynb_checkpoints/
*.zip
*.pt
*.bin
*.ckpt
*.log
.env
.venv/
models/
ml-latest/
ml-latest-small/
data_movielens/
all_reviews_filtered.csv
all_reviews_filtered.csv
all_reviews_filtered.csv
all_reviews_filtered.csv
